MadSand-FallenRiseFromDust-desktop/MadSandOutput.txt
MadSand_Saves/lastname.dat
bin
.settings
.classpath
.project
.metadata
.gradle/
*.log
MadSand-FallenRiseFromDust-desktop/MadSand_Saves/lastrend.dat
MadSand-FallenRiseFromDust-desktop/MadSandCritical.log
